.MarketBalanceActive{
 color: #585AFA;
 font-weight: 900;
}
.dashboardOrderBook{
 border: 1px solid #000 !important;
 border-radius: 4px !important;
 background: #F9F9F9 !important;
 text-align: center;
}
.dashboardOrderBookTitle{
 padding: 12px !important;
 border: 1px solid #000 !important;
 background: #585AFA !important;
 text-align: center;
}
.dashboardActionsSort{
 vertical-align: middle;
 padding: 12px;
}
.dashboardOrderBookWrapper{
 margin-bottom: 12px;
}
.marginTopBot{
 margin-top: 12px;
 margin-bottom: 12px
}



